* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.5;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

h1 {
  font-weight: 700;
  text-decoration: underline;
  font-size: 2.5em;
  margin-top: 0;
}
h2 {
  text-decoration: underline;
}
h2, h3, h4, h5, h6 {
  font-weight: 500;
}
h1 .codeh, h2 .codeh, h3 .codeh, h4 .codeh, h5 .codeh, h6 .codeh {
  font-size: 135%;
}

a {
  color: #0000ee;
}

section {
  margin: 0;
  padding: 2em 15%;
  width: 100%;
  height: 100%;
  overflow: auto;
}

nav {
  padding: 30px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #e0e0e0;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
}

nav > * {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#navtitle {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
nav li {
  display: inline;
}

nav a, nav button {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: middle;
  border: none;
  margin: 0 3px;
  padding: 10px 15px;
  background-color: #e8e8e8;
  display: inline-block;
}
nav a:hover, nav button:hover {
  background-color: #d8d8d8;
}
nav a:active, nav button:active {
  background-color: #c0c0c0;
}

.roman-numeral {
  font-family: "Roboto Slab", serif;
}

code {
  font-family: "Fira Mono", monospace;
  font-size: 0.9em;
}
code.highlighter-rouge {
  background-color: #fcfcfc;
  border-radius: 0.2em;
  padding: 0.05em 0.3em;
}
.highlight {
  line-height: 1.3;
}
div.highlight {
  background-color: #fcfcfc;
  border-radius: 0.5em;
  padding: 20px;
  overflow-x: auto;
}
pre.highlight {
  margin: 0;
  padding: 0;
}
